h1, h2, h3, h4{
  color: #058A16;
}
p{
  justify-content: center;
  word-break: break-all;
}


#header{
  text-transform: uppercase;
  text-align: center;
  line-height: 1.0;
  margin: 20px;
  color: white;
  background-color: gray;
  font-weight: normal;
  padding: 20px 5%;
}

#container{
  max-width: 800px;
  margin: 20px auto;
}

