{% extends "base.html" %}

{% block content %}
<div class="fondo">
<br>
<hr>
<h2 align="center">CONFIGURACIÓN DE LA PCs</h1>
<h3>Sr. {{ usr_name }} escoja las caracteristicas de su Computadora:</h2>
<br>

<form action="#">
    <h3>{{form.radio_group_memory.label}}</h3>
    {% for subfield in form.radio_group_memory %}
    <p>
        {{ subfield }}
        {{ subfield.label }}
    </p>
    {% endfor %}
    <hr>
    <h3>{{form.radio_group_disk.label}}</h3>
    {% for subfield in form.radio_group_disk %}
    <p>
        {{ subfield }}
        {{ subfield.label }}
    </p>
    {% endfor %}
    <hr>
    <h3>{{form.radio_group_video.label}}</h3>
    {% for subfield in form.radio_group_video %}
    <p>
        {{ subfield }}
        {{ subfield.label }}
    </p>
    {% endfor %}
    <hr>
    {{ form.submit}}
</form>
</div>
   
{% endblock %}
