{% extends "layout.html" %}

{% block body %}
    <div class="form-configurar">
        <form action="/configurar" method="POST">
            <hr>
            <h1 align="center">CONFIGURACION DE LA PC</h1>
            <h2>Sr. {{ usr_name }} escoja las caracteristicas de su Computadora:</h2>
            <h3>Memoria</h3>
            <div>
                <input type="radio" name="opc" value="mem1">4GB<br />
                <input type="radio" name="opc" value="mem2">8GB<br />
                <input type="radio" name="opc" value="mem3">16GB<br />                
                <hr>
            </div>
            <h3>Tarjeta de Video</h3>
            <div>
                <input type="radio" name="opc" value="vid1">Integrada<br />
                <input type="radio" name="opc" value="vid2">Dedicada<br />              
                <hr>
            </div>
            <h3>Disco Duro</h3>
            <div>
                <input type="radio" name="opc" value="disk1">SSD<br />
                <input type="radio" name="opc" value="disk2">MECANICO<br />              
                <hr>
            </div>
            <div align="center">
                <input type="submit" value ="Calcular">
            </div>
        </form>
    </div>
{% endblock %}
